.venv/
frontend/
.env
google_credentials.json

__pycache__/
*.pyc

*.bin filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text

#depois subir só o modelo
/backend/model/
*.pkl
*.h5
*.bin